/* main box */
.password-box{
    width: 420px;
    border-radius: 20px;
    z-index: 2;
    padding: 40px;
    /* background: rgba(255, 255, 255, 0.15); */
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    overflow: hidden;
}

/* title */
.title{
    color: var(--base-color--);
    margin-bottom: 30px;
    font-weight: 700;
}

/* input wrapper */
.input-wrapper{
    position: relative;
    margin-bottom: 28px;
    font-size: 20px;
}

.input-wrapper input{
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--profile-text-color--);
    background: transparent;
    padding: 8px 35px 8px 5px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.input-wrapper input::placeholder{
    color:rgb(189, 188, 188);
    font-weight: 500;
    font-size: 15px;
}
.input-wrapper input:focus{
    outline: none;
}

/* eye icon */
.toggle{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--placeholder-color--);
    cursor: pointer;
}

/* buttons */
.btn-group-custom{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.discard-btn{
    padding: 10px 28px;
    border-radius: 25px;
    background: var(--btn-fail-color--);
    border: none;
    color: white;
}

.apply-btn{
    padding: 10px 36px;
    border-radius: 25px;
    background: var(--btn-success-color--);
    border: none;
    color: white;
}
/* cursor + hover move up */
.discard-btn,
.apply-btn{
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 700;
}

/* hover effect */
.discard-btn:hover{
    background: white !important;
    color: var(--btn-fail-color--) !important;
}
.apply-btn:hover{
    background: white !important;
    color: var(--btn-success-color--) !important;
}

/* success alert overlay */
.success-overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.45);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

/* success alert box */
/* .success-box-blur, .failed-box-blur{
    position: absolute;
    border: 2px solid #2e7d32;
    filter: blur(5px);
} */
.success-box{
    width: 360px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    background-image: url("../photos/resturant1.jpg");
    background-size: cover;
    box-shadow: 0 15px 40px rgba(0,0,0,0.35);
    animation: pop 0.3s ease;
}

/* check icon */
.success-icon{
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -60px auto 15px;
}

.success-icon i{
    color: #2ecc71;
    font-size: 32px;
}

/* button */
.success-box button{
    margin-top: 15px;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background: white;
    color: #2ecc71;
    font-weight: bold;
    cursor: pointer;
}

/* animation */
@keyframes pop{
    from{
        transform: scale(0.7);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
/* failed overlay */
.failed-overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* failed box */
.failed-box{
    width: 360px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    background-image: url("../photos/resturant1.jpg");
    background-size: cover;
    box-shadow: 0 15px 40px rgba(0,0,0,0.3);
    animation: pop 0.3s ease;
}

/* failed icon */
.failed-icon{
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -60px auto 15px;
}

.failed-icon i{
    color: #c62828;
    font-size: 34px;
}

/* failed text */
.success-box h2, .failed-box h2{
    margin-bottom: 5px;
    font-weight: 600;
}

.failed-box p{
    margin-bottom: 20px;
}

/* try again button */
.failed-box button{
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    background: white;
    color: #c62828;
    font-weight: bold;
    cursor: pointer;
}
/* discard overlay */
.discard-overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.45);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* discard box */
.discard-box{
    width: 360px;
    padding: 30px;
    border-radius: 20px;
    background-image: url("../photos/resturant1.jpg");
    background-size: cover;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    box-shadow: 0 15px 40px rgba(0,0,0,0.3);
    animation: pop 0.3s ease;
}
.discard-box .discard-content h2{
    font-weight: bold;
}
/* discard icon */
.discard-icon{
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -60px auto 15px;
}

.discard-icon i{
    color: #f57c00;
    font-size: 32px;
}

/* buttons */
.discard-actions{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cancel-btn{
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    background: white;
    color: #f57c00;
    font-weight: bold;
    cursor: pointer;
}

.confirm-btn{
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    background: #d84315;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
