.page-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 2;
}

/* Card session */
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2{
    font-weight: 700;
    font-size: 40px;
    color: var(--profile-text-color--);
    margin-left: 10px;
}
.title a{
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.3s;
    margin-right: 5%;
}
.title a:hover{
    color: var(--profile-text-color--);
}
.frame {
  width: 90%;
  margin: 3px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.table_group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    padding: 0px 10px;
}
.table_group::-webkit-scrollbar {
display: none;
}
.table_group .table_card{
    z-index: 3;
    max-width: 210px;
    min-width: 210px;
    height: 200px;
    margin-top: 10px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    border: 1px solid var(--profile-text-color--);
    text-align: center;
    cursor: pointer;
    box-shadow: 5px 5px 5px var(--base-color--);
    outline: none;
}

.table_card img{
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center;
}
.card_texts{
    margin-top: 5px;
    padding: 0px 15px;
}
.card_texts p{
    font-size: 14px;
    font-weight: 500;
}