.reservation-card{
    width:380px;
    padding:25px;
    border-radius:16px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
    color:white;
    position: relative;
    z-index: 2;
    margin: 40px auto;
}


.reservation-card h2{
    text-align:center;
    margin-bottom:20px;
    color: var(--profile-text-color--);
}


.input-group{
    margin-bottom:12px;
}

label{
    display:block;
    font-size:14px;
    margin-bottom:5px;
    color: var(--profile-text-color--);

}


input, select{
    width:100%;
    padding:8px;
    border-radius:6px;
    border:none;
    outline:none;
    background: rgba(255,255,255,0.85);
    font-size:14px;
}



.time-row{
    display:flex;
}
.time-row .input-group:first-child{
    margin-right:55px;
    margin-left:0px;

}

.table-row{
    display:flex;
    gap:10px;
     margin-top:10px; 
} 

 .table-row select{
    flex:1;
}  

.table-row input{
    width:90px;
    text-align:center;
   -webkit-text-fill-color: rgba(255,255,255,0.85);

}

.reserve-btn, .search-table{
    width:100%;
    padding:10px;
    border:none;
    border-radius:8px;
    background: var(--profile-text-color--);
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    margin-top:15px;
    transition:0.3s;
}


.reserve-btn:hover, .search-table:hover{
    background:var(--base-color--);
    transform:scale(1.05);
    /*box-shadow:0 0 15px #00ff99;*/
}


.duration-display{
    background:rgba(255,255,255,0.85);
    padding:10px;
    border-radius:6px;
    color:#333;
    cursor:pointer;
}


.picker-overlay{
    position:fixed;
    inset:0;
    display:none;
    justify-content:center;
    align-items:center;
       z-index: 10;
}

 .picker-box {
    
    backdrop-filter: blur(10px);           
    border-radius: 12px;
     border: 1px ;
    padding: 20px;
    width: 250px;
    text-align: center;
    background-color: #95b69d;
}


.table-list {
    max-height: 180px;
    overflow-y: auto;
    background: rgba(255,255,255,0.85);
    border-radius: 8px;
}

.table-list div {
    padding: 12px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.table-list div:hover {
    background: var(--profile-text-color--);
    color: white;
}
.hh{
    margin-bottom: 10px;
    color: var(--profile-text-color--);
    
}

.time-label {
    margin-top: 15px;
}

.time-picker {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    
}

.time-picker select {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
    text-align: center;
    font-size: 16px;
     background: rgba(255,255,255,0.85); 
}
.picker-label {
  font-size: 14px;
  color: var(--profile-text-color--);
  margin-top: 10px;
}
.custom-select {
  width: 100px;
 position: relative;
  user-select: none;
  cursor: pointer;
}

.custom-select .selected {
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  font-size:14px ;
  text-align: center;
 
}

.custom-select .options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 80px; 
  overflow-y: auto; /* scroll */
  display: none;
  z-index: 10;
  text-align: center;
     background:var(--profile-text-color--); 
  backdrop-filter: blur(15px);

}

.custom-select .options div {
  padding: 5px 10px;
}

.custom-select .options div:hover {
  background-color: var(--base-color--);
  color: white;
}



.flatpickr-calendar {
    background: rgba(255, 255, 255, 0.18) !important; 
    backdrop-filter: blur(14px) !important;
    -webkit-backdrop-filter: blur(14px) !important;
    border-radius: 18px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.35);
    border: 1px solid rgba(255,255,255,0.25);
    color: #fff !important; 
     z-index: 9999 !important;

}

.flatpickr-current-month span.cur-month {
    font-family: inherit;
    font-weight: 400;
    color: inherit;
    display: inline-block;
    margin-right: 15px;
}

/* Header (month / arrows) */
.flatpickr-months,
.flatpickr-weekdays {
    background: transparent;
    color: #34b454;
}

/* Weekday labels */
.flatpickr-weekday {
    color: rgba(255,255,255,0.85);
    font-weight: 500;
}

/* Day cells */
.flatpickr-day {
    border-radius: 50%;
    color: #0fa573;
    transition: all 0.2s ease;
}


.flatpickr-day.today {
    border: 1px solid #00e5ff;
    background: #31a376 !important;
    
}


.flatpickr-day:hover {
    background: rgba(20, 161, 95, 0.35) !important;
    color: #000 !important;
}


.flatpickr-day.selected {
    background: #042e1d !important;
    color: #000 !important;
    box-shadow: 0 0 12px #042e1d !important; 
}

.flatpickr-day.disabled {
    color: rgba(255,255,255,0.3);
}

#myDate {
    cursor: pointer;
    position: relative;
    z-index: 6;
}
.flatpickr-calendar.open {
    animation: glassPop 0.25s ease-out;
}
/* .tb-group{
    display: none;
}
.tb-group.active{
    display: block;
}
.table_group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    padding: 0px 10px;
}
.table_group::-webkit-scrollbar {
display: none;
}
.table_group .table_card{
    z-index: 3;
    max-width: 210px;
    min-width: 210px;
    height: 200px;
    margin-top: 10px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    border: 1px solid var(--profile-text-color--);
    text-align: center;
    cursor: pointer;
    box-shadow: 5px 5px 5px var(--base-color--);
    outline: none;
}

.table_card img{
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center;
}
.card_texts{
    margin-top: 5px;
    padding: 0px 15px;
}
.card_texts p{
    font-size: 14px;
    font-weight: 500;
} */